h3 {
    border: 2px solid #007bff;
    /* Blue border */
    padding: 10px;
    border-radius: 5px;
}

h4 {
    border: 2px solid #ffc107;
    /* Yellow border */
    padding: 10px;
    border-radius: 5px;
}



/* Additional custom styles */
.text-info {
    border: 2px solid #17a2b8;
    /* Example border color for H3 */
}

.text-warning {
    border: 2px solid #ffc107;
    /* Example border color for H4 */
}

/* General styling */
body {
    color: white;
}

/* Header */
.h1-text {
    color: #3498db;
    text-align: center;
    margin-bottom: 1rem;
}

/* Dropdowns */
.dropdown-style {
    margin-bottom: 20px;
    color: black;
    background-color: white;
}



.dropdown-style:hover {
    background-color: #007bff; /* Change background on hover */
    color: black; /* Change text color on hover */
    font-size: 1.05em; /* Optional: Increase font size slightly for pop effect */
    transition: all 0.3s ease-in-out; /* Optional: Smooth transition */
}

/* Date Picker Range */
.date-picker-style {
    margin-bottom: 20px;
    color: black;
    background-color: white;
}

/* Container styling */
.custom-container {
    padding: 0 20px;
}

/* Row Styling */
.center-row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}


.footer {
    background-color: #333; /* Dark background for the footer */
    color: #fff; /* White text color */
    padding: 20px; /* Padding around the footer */
    text-align: center; /* Center align text */
    font-weight: bold; /* Make text bold */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

.footer:hover {

    color: #ffd700; /* Change text color on hover (gold) */
}

.footer a {

    color: #ffd700; /* Change link color on hover */

    
}

.footer a:hover {
    background-color: #555; /* Change background color on hover */
    color: #fff; /* Default link color */
    text-decoration: none; /* Remove underline from links */
}
